// Specific CSS for your home-page
.landing-box {
  height: 600px;
  background-image: url("https://cutewallpaper.org/21/yacht-backgrounds/Super-Yachts-Wallpapers-Wallpaper-Cave.jpg");
  background-size: cover;
}

.end {}
