// Specific CSS for your home-page
.landing-box {
  height: 600px;
  background-image: linear-gradient(to right,rgba(black, 0.4), rgba(black, 0.6)), url("https://cutewallpaper.org/21/yacht-backgrounds/Super-Yachts-Wallpapers-Wallpaper-Cave.jpg");
  background-size: cover;
  display: flex;
}

.pitch-text-box {
  margin: auto;
  padding: 8%;
}

.pitch-text {
  color: white;
  font-family: 'PT Serif', serif;
  font-size: 5rem;
}

.form-box {
  height: 50px;
  background-color: white;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 0;
  align-items: center;
  justify-content: center;
}

.form-field {
  border: none;
}

.search-btn {
  background-color: #ee6f57;
  border: none;
  height: 50px;
  width: 100px;
  border-radius: 25px;
}

.grid-container {
  padding: 15px 25px 0 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 10px;
  grid-template-areas: ". . ." ". . ." ". . .";
}

.card {
  height: 200px;

}



.end {}
