
<footer class="footer-distributed">

      <div class="footer-left">
          <img src="https://i.ibb.co/vJfV1PG/logo.png">
        <h3>About us</h3>

        <p class="footer-links">
          <a href="/">Home</a>
          |
          <a href="mailto:hello@airbnboat.com">Contact</a>
        </p>

        <p class="footer-company-name">© 2020 Web Development Team GCMP.</p>
      </div>

      <div class="footer-center">
        <div>
          <i class="fa fa-map-marker"></i>
            <p><span>309 - Dikninge ,
             Bldg. No. A - 1, Sector - 1</span>
            Zuid, Amsterdam - 400710</p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>+31 52-27782183</p>
        </div>
        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:support@Airbnboat.com">support@airbnboat.com</a></p>
        </div>
      </div>
      <div class="footer-right">
        <p class="footer-company-about">
          <span>About the company</span>
          We offer boat holiday services that you can book directly from boat owners.</p>
        <div class="footer-icons">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
    </footer>
