<div class="grid-container">
    <div class="card-trip">
        <div>
            <div class="card-header">
                <h1><i class="fac fas fa-search"></i></h1>
            </div>
        </div>
        <div class="card-trip-infos tac">
            <p>
                <h5>Find a boat for your selected dates</h5>
            </p>
        </div>
    </div>
    <div class="card-trip">
        <div>
            <div class="card-header">
                <h1><i class="fac fas fa-comments"></i></h1>
            </div>
        </div>
        <div class="card-trip-infos tac">
            <p>
                <h5>Confirm with the boat owner about your requested details</h5>
            </p>
        </div>
    </div>
    <div class="card-trip">
        <div>
            <div class="card-header">
                <h1><i class="fac fas fa-anchor"></i></h1>
            </div>
        </div>
        <div class="card-trip-infos tac">
            <p>
                <h5>Ahoy, you're ready to go!</h5>
            </p>
        </div>
    </div>
</div>
