<div class="grid-container">
    <div class="card-trip">
        <div>
            <h1 class="card-header">1</h1>
        </div>
        <div class="card-trip-infos ">
            <h5>Find a perfect boat for your selected dates and number of guests</h5>
            <h5>Find a perfect boat for your selected dates and number of guests</h5>
        </div>
    </div>
    <div class="card-trip">
        <div>
            <h1 class="card-header">2</h1>
        </div>
        <div class="card-trip-infos ">
            <h5>Find a perfect boat for your selected dates and number of guests</h5>
            <h5>Find a perfect boat for your selected dates and number of guests</h5>
        </div>
    </div>
    <div class="card-trip">
        <div>
            <h1 class="card-header">3</h1>
        </div>
        <div class="card-trip-infos ">
            <h5>Find a perfect boat for your selected dates and number of guests</h5>
            <h5>Find a perfect boat for your selected dates and number of guests</h5>
        </div>
    </div>
</div>
