<div id="navbar" class="navbar-gfr">
  <div class="navbar-left"><img class="logo" src="https://i.ibb.co/vJfV1PG/logo.png" alt="logo"> </div>
  <div class="navbar-text">Book a luxury boat, sail your dreams come true!</div>
  <div class="navbar-right">
    <button class="btn btn-primary">Login</button>
    <button class="btn btn-primary">New User</button>
  </div>
</div>
<div class="landing-box">
</div>

<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>

