<div id="navbar" class="navbar-gfr">
    <div class="navbar-left"><img class="logo" src="https://i.ibb.co/vJfV1PG/logo.png" alt="logo"> </div>
    <div class="navbar-text">Book a luxury boat, sail your dreams come true!</div>
    <div class="navbar-right">

      <% if current_user == nil%>
        <a class="btn btn-primary" href='/users/sign_in'>Login</a>
        <a class="btn btn-primary" href='/users/sign_up'>New User</a>
      <% else %>
        <a class="btn btn-primary" href=<%= profile_path(current_user.id) %>>Profile</a>
      <% end %>
    </div>
</div>
<div class="landing-box">
    <div class="pitch-text-box">
        <h1 class="pitch-text">Plan your next <br> holiday at sea.</h1>
        <div class="form-box">
            <input class="form-field" type="text" id="fname" name="fname" placeholder="Destination">
            <input class="form-field" type="date" id="checkin" name="lname" placeholder="Check-in Date">
            <input class="form-field" type="date" id="checkout" name="lname" placeholder="Check-out Date">
            <button class="search-btn">Search</button>
        </div>
    </div>
</div>
<div class="grid-container">

    <div id="carousel1" class="carousel slide" data-interval="false">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="https://eskipaper.com/images/yacht-2.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://blogs.forbes.com/billspringer/files/2019/03/00000510_2-1.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://www.heesenyachts.com/wp-content/uploads/2019/09/19255-Pollux-ext-1.jpg" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carousel1" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel1" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div id="carousel2" class="carousel slide" data-interval="false">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="https://eskipaper.com/images/yacht-2.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://blogs.forbes.com/billspringer/files/2019/03/00000510_2-1.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://www.heesenyachts.com/wp-content/uploads/2019/09/19255-Pollux-ext-1.jpg" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carousel2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div id="carousel3" class="carousel slide" data-interval="false">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="https://eskipaper.com/images/yacht-2.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://blogs.forbes.com/billspringer/files/2019/03/00000510_2-1.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://www.heesenyachts.com/wp-content/uploads/2019/09/19255-Pollux-ext-1.jpg" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carousel3" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel3" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


</div>
<p>Lorem ipsum dolor sit amet, in sit ipsum evertitur, an usu iusto alienum. Qui porro electram delicatissimi ne, iisque honestatis ea vim, in ludus singulis electram mea. Causae commodo id vel. Putant bonorum equidem cum no, his id nibh salutandi. Eum ea sint abhorreant, labores reformidans an eos. Id malis ignota efficiantur pro. Ius cu elit sonet latine.
    Per ex dictas animal ancillae, duo fugit quaeque signiferumque id, qui zril dolor moderatius cu. Cibo putent sed ex. Veniam tamquam verterem ea sea, ad nostrud patrioque voluptatum vel. Enim quando in sea, cu maiorum recteque vis, mucius verear signiferumque ne duo. Aperiri percipit cum an, ei vix causae pertinacia, eu vim persius forensibus.
    Te has ignota commodso accusata, id cibo oporteat vis. Partiendo referrentur vix ut, admodum verterem mediocrem in vix, nobis fierent referrentur eos et. At mea tibique ocurreret concludaturque, pro id debet dicit maiorum. Usu autem dignissim ex, zril homero incorrupte ea his, ei pertinax temporibus pro. Cu stet labore vix, qui vero partem ea. Alii liberavisse nam et, dolore graeco insolens vel te.
    Posse denique convenire te pri, est mundi habemus euripidis ne. Ut vidit expetendis pro. Natum alterum ne pri, nam ei odio apeirian assentior. Adhuc etiam mediocrem cu mel, vix ex case eros dignissim. Homero laoreet sapientem est ne.
    Sonet delectus vel at, novum constituam ea his. Fabellas neglegentur quo id. Minim blandit per eu, posse adolescens adipiscing est ei, sit ut gubergren sadipscing. Idque possit id ius, utroque instructior ei sed. Cu alienum postulant eam, erant clita eu est. Luptatum senserit repudiandae nam te, no illud ancillae fastidii cum. Te putent efficiantur mea, laudem electram eos et.
    Tale pertinacia neglegentur mel ad. Eu mea malorum partiendo neglegentur. Sanctus ceteros ea eam. Sed essent feugiat necessitatibus ea, vero referrentur eos te.
    Usu ei scaevola volutpat. Ea dolore quodsi pri. Vix no quot partem partiendo, eos ut erant eruditi. Amet modo verterem vis at. Sit an tibique eleifend gubergren. Ut unum malorum mea, ne alii porro ullamcorper quo.
    Id vituperata disputando nec, tale omittam his cu. Ne mea iisque accumsan omnesque, eam ad nonumy appetere, ancillae salutandi ne eum. An eam atqui partem civibus. In vix fastidii omnesque. Mei ridens putant dolores cu. Id dicta explicari has, recusabo periculis efficiendi mel at.
    Lorem primis doming qui id, in nemore nusquam perpetua vel. An feugait voluptatum nec. Natum eruditi graecis vim at, eum nobis vidisse in, quo te paulo congue antiopam. Ea duo wisi scriptorem, an eam ridens integre, est virtute petentium explicari et.
    Cetero platonem cu nam, fugit exerci graeci duo cu, pri et audire eleifend salutatus. Partiendo expetendis pri in. Quaestio indoctum mei an, has an prima gloriatur. Id accusam partiendo voluptatibus his, mel ei velit graeci definitionem, minimum fabellas adipiscing cu eum. Etiam congue no cum. Ei eam primis omittantur, solum iisque contentiones sit ad.
    Quis reprimique vel ne, ubique patrioque deseruisse mel ad, iudico aperiam his id. His cu alterum ornatus, molestie inciderint referrentur eu nam. Qui novum definitionem ea, nec odio disputationi ei. Sit impedit blandit mentitum ei. Reque inani offendit vis ad, utroque copiosae singulis no mea, id usu illum euripidis mediocritatem.
    Cu duo epicurei mnesarchum. Agam mutat tincidunt eu vim, ad usu habeo consetetur voluptatum. Mel graeci cetero fabellas te, aperiri dolorem eloquentiam id qui. Integre volumus forensibus vis eu, quando animal pri ea.
    Mutat affert eos ad, at nec convenire dissentiunt, quaeque vivendum inimicus cu est. Te mazim splendide philosophia usu, saepe docendi eos no. Pri labores consulatu an, case audiam ex eos. Ne eos sonet tacimates ocurreret, at dicam essent latine pro. At quaeque fabulas pri, ut ubique nostrud pro, modus vidisse similique ad sed. Sed ne minim audire interpretaris, no elit porro eloquentiam sit. Nec tacimates reprimique ex, est dolor aliquid in, utroque luptatum accusamus has no.
    In sit ornatus pericula consectetuer, at sit impedit mandamus reprimique. Usu ea facilis quaestio. Et pro amet sapientem, erat putant petentium mei ut, adolescens inciderint usu ea. Dolore mandamus volutpat has ne, laboramus evertitur expetendis no est. Tale omnium labitur vis eu.
    Sed tamquam veritus no. Mel adhuc diceret delenit no, cu vulputate incorrupte dissentiet vim. Populo persecuti nam an. Vidisse principes no vel.
    Animal laboramus ne sea, dicit probatus sadipscing vix an, partem quaeque id vel. Eam ei feugiat forensibus. Vis quod case maiorum ei, his et liber fastidii insolens, quas libris mea id. Mel ei sale percipitur, usu sale ridens ne, ex eos sint nulla tincidunt. Eius officiis qui at, mundi admodum quaestio est no. Pro ornatus ponderum at, mollis pertinax ex ius.
    Ea sea clita singulis, id atqui quando duo, te sea vivendo delicata voluptatum. Choro intellegam mediocritatem pro an, cu vim neglegentur consequuntur. Sea ad mazim sadipscing consectetuer, vim no solet affert. Has modus causae in, id inani laoreet sed. An everti aliquid cum.
    Veniam aliquip hendrerit est ea. Vel id illud utamur. Unum illud maiorum est cu, usu probo possim integre ad. Oratio maiestatis eum at, qui dico albucius partiendo ex, vim nihil veritus et. Sumo nonumy facilisis ut eos. Elitr accumsan ne quo, habemus accommodare eam in, ea pro accumsan ponderum. Id dicant civibus fastidii has.
    His at delicata reprimique consectetuer. In vim senserit vulputate, an mei quas insolens menandri, cu per salutatus constituam. Stet rationibus dissentiunt ex usu, id altera quaeque epicuri eos, alia perfecto posidonium et qui. At sea mazim populo docendi. At nominati perpetua vix, ex aperiam accusata qui.
    Nec soleat debitis id, minimum detracto molestie ei duo. Sed no ignota saperet euripidis, animal praesent recteque no ius. Vim et oratio fierent vituperatoribus, tantas fastidii comprehensam ut quo. Mel vero omnis laudem te. No aperiri utroque aliquando his.
    Est nonumy impetus lobortis id, summo nemore vel et, recusabo prodesset interesset id qui. Vel putant lobortis forensibus ex, ne qui mucius verear fastidii. Id vel dolores legendos, scaevola vituperata ex sit. Nam ea phaedrum voluptatum, in liber mollis gloriatur qui, iracundia accommodare sit no.
    Ei sit audire gloriatur, in usu diam eruditi incorrupte. An audire labitur iudicabit qui, sed fabulas repudiandae ex ut.</p>
