<div class="landing-box">
    <div class="pitch-text-box">
        <h1 class="pitch-text">Plan your next <br> holiday at sea.</h1>
        <form class="form-box">
            <input class="form-field" type="text" id="fname" name="fname" placeholder="Destination">
            <input class="form-field" type="date" id="checkin" name="lname" placeholder="Check-in Date">
            <input class="form-field" type="date" id="checkout" name="lname" placeholder="Check-out Date">
            <button class="search-btn"><img width="75%" src="https://www.iconninja.com/files/743/169/172/magnifying-glass-magnifier-search-find-zoom-icon.svg" alt="magnifying glass"></button>
        </form>
    </div>
</div>
<%= render "home_carousel" %>
<div class="featured">
    <h1 class="featured-text">Book with ease and 100% trust.</h1>
<%= render "home_cards" %>
</div>
