<div id="navbar" class="navbar-gfr">
    <div class="navbar-left"><img class="logo" src="https://i.ibb.co/vJfV1PG/logo.png" alt="logo"> </div>
    <div class="navbar-text">Book a luxury boat, sail your dreams come true!</div>
    <div class="navbar-right">
        <button class="btn btn-primary">Login</button>
        <button class="btn btn-primary">New User</button>
    </div>
</div>
<div class="landing-box">
    <div class="pitch-text-box">
        <h1 class="pitch-text">Plan your next <br> holiday at sea.</h1>
        <div class="form-box">
            <form>
              <input class="form-field" type="text" id="fname" name="fname" placeholder="Destination">
              <input class="form-field" type="date" id="checkin" name="lname" placeholder="Check-in Date">
              <input class="form-field" type="date" id="checkout" name="lname" placeholder="Check-out Date">
              <button class="search-btn">Search</button>
            </form>
        </div>
    </div>
</div>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
<p>hello</p>
<p>goodbye</p>
