<div class="container">
  <h1>Let's make a simple form. Check Schema. Here we need following:</h1>
  <h3>Tell @user more about your trip</h3>
  <h4>Textbox with Offer details, Hi my name is bla bla bla and I'm coming with my family</h4>
  Confirm button!!. Start below this line.
  <hr>











</div>
